<div class="account">
    <form class="registrationForm" name="registrationForm" data-ng-controller="RegistrationFormController" novalidate>
        <div class="registrationForm-heading">
            register
        </div>
        <div class="panel panel-default login-details">
            <div class="registrationForm-panel-heading">
                <span class="heading-number">1</span>Your Login Details
            </div>
            <div class="panel-body registrationForm-panel-body row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group" data-ng-class="{ 'has-error' : registrationForm.email.$invalid && !registrationForm.email.$pristine }">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" id="email" data-ng-model="registration.email"
                               data-ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                               unique-email required>
                        <p data-ng-show="( registrationForm.email.$error.email || registrationForm.email.$error.required ) && registrationForm.email.$dirty" class="help-block">
                            Require an valid email.
                        </p>
                        <p data-ng-show="registrationForm.email.$pending.uniqueEmail" class="help-block">Checking if this email is available ...</p>
                        <p data-ng-show="registrationForm.email.$error.uniqueEmail" class="help-block">This email has been registered</p>
                    </div>
                    <div class="form-group" data-ng-class="{ 'has-error' : registrationForm.password.$invalid && !registrationForm.password.$pristine }">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control"
                               id="password" data-ng-model="registration.password" required>
                        <p data-ng-show="registrationForm.password.$error.required && registrationForm.password.$dirty" class="help-block">Require password</p>
                    </div>
                    <div class="form-group" data-ng-class="{ 'has-error' : registrationForm.passwordConfirmation.$invalid && !registrationForm.passwordConfirmation.$pristine }">
                        <label for="passwordConfirmation">Password Confirm</label>
                        <input type="password" name="passwordConfirmation" class="form-control"
                               id="passwordConfirmation" data-ng-model="registration.passwordConfirm"
                               data-ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                               ui-validate="'$value == registration.password'"
                               ui-validate-watch="'registration.password'">
                        <p data-ng-show="registrationForm.passwordConfirmation.$error.validator && registrationForm.passwordConfirmation.$dirty" class="help-block">Password Not Match.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default personal-details">
            <div class="registrationForm-panel-heading">
                <span class="heading-number">2</span>Your Personal Details
            </div>
            <div class="panel-body registrationForm-panel-body row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group" data-ng-class="{ 'has-error' : registrationForm.first_name.$invalid && !registrationForm.first_name.$pristine }">
                        <label for="first_name">First Name</label>
                        <input type="first_name" name="first_name" class="form-control" id="first_name" data-ng-model="registration.first_name" required>
                        <p data-ng-show="registrationForm.first_name.$error.required && registrationForm.first_name.$dirty" class="help-block">
                            Require your first name.
                        </p>
                    </div>
                    <div class="form-group" data-ng-class="{ 'has-error' : registrationForm.last_name.$invalid && !registrationForm.last_name.$pristine }">
                        <label for="last_name">Last Name</label>
                        <input type="last_name" name="last_name" class="form-control" id="last_name" data-ng-model="registration.last_name" required>
                        <p data-ng-show="registrationForm.last_name.$error.required && registrationForm.last_name.$dirty" class="help-block">
                            Require your last name.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-info submitBtn" data-ng-disabled="registrationForm.$invalid" data-ng-click="submit()">
                Submit
            </button>
        </div>
    </form>
</div>
